 <div id="climbing" class="tab-pane fade in">  
  <div class="container">
  <div class="jumbotron">
    <p style="color: white">Reservation number #<b>{{resa_id}}</b> for <b>{{days}}</b> day(s) between <b>{{dates}}</b></p>
    <div class="row">
        <div class="col-sm-6">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoclimbingShoes"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="climbingShoes" id="climbingShoes" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Climbing Shoes
                  </label>
                  <label style="color: white" id="climbingShoesPrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="climbingShoes">  

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infokidClimbingShoes"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="kidClimbingShoes" id="kidClimbingShoes" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Kid's Climbing Shoes
                  </label>
                  <label style="color: white" id="kidClimbingShoesPrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="kidClimbingShoes">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoShockAbsorber"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="shockAbsorber" id="shockAbsorber" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Via Ferrata Shock-Absorber
                  </label>
                  <label style="color: white" id="shockAbsorberPrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="shockAbsorber">            
              
        </div>
        <div class="col-sm-6">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoCasque"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="casqueClimb" id="casqueClimb" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Helmet
                  </label>
                  <label style="color: white" id="casqueClimbPrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="casqueClimb">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoHarness"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="harnessClimb" id="harnessClimb" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Harness
                  </label>
                  <label style="color: white" id="harnessClimbPrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="harnessClimb">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infocrashpad"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="crashpad" id="crashpad" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Crash-Pad
                  </label>
                  <label style="color: white" id="crashpadPrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="crashpad">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoSlackline"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="slackline" id="slackline" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Slackline
                  </label>
                  <label style="color: white" id="slacklinePrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="slackline">

        </div>
        
  </div>
</div> <!-- Container Rock -->
</div>
</div>
