<div id="hiking" class="tab-pane fade in">
  <div class="container">
  <div class="jumbotron">
    <p style="color: white">Reservation number #<b>{{resa_id}}</b> for <b>{{days}}</b> day(s) between <b>{{dates}}</b></p>
    <div class="row">
      <div class="col-sm-6">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoHikingShoes"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="hikingShoes" id="hikingShoes" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Hiking Shoes
                  </label>
                  <label style="color: white" id="hikingShoesPrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="hikingShoes"> 

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoPoles"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="polesHike" id="polesHike" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Hiking Poles
                  </label>
                  <label style="color: white" id="polesHikePrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="polesHike"> 

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoCrampons"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="cramponsHike" id="cramponsHike" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Crampons
                  </label>
                  <label style="color: white" id="cramponsHikePrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="cramponsHike"> 

      </div>
      <div class="col-sm-6">



              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoBackpack"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="backpackHike" id="backpackHike" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Alpinism Backpack
                  </label>
                  <label style="color: white" id="backpackHikePrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="backpackHike">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoBabyCarrier"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="babyCarrier" id="babyCarrier" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Baby Carrier
                  </label>
                  <label style="color: white" id="babyCarrierPrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="babyCarrier">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#infoBabyStroller"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="babyStroller" id="babyStroller" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Baby Stroller
                  </label>
                  <label style="color: white" id="babyStrollerPrice" style="display: none" disabled>
                  </label>
              </div>
              </div>
              <input type="hidden" value="0" name="babyStroller">

      </div>

  </div>
</div> <!-- Container Hiking -->
</div>
</div>
