<!-- Modal -->
<div class="modal fade" id="infoShoes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">MOUNTAINEERING BOOTS</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/mboot.jpeg') }}">
        <p>Not to be confused with hiking boots, mountaineering boots are usually taller, stiffer, and insulated.</p>

        <p>The extra height and stiffness of mountaineering boots helps support the climber in steep terrain where flexible boots could cause unsure footing and possibly result in a fall. This extra stiffness is traditionally achieved through the use of a full steel shank, though some manufacturers have begun to use carbon fiber to create the necessary stiffness.</p>

        <p>Mountaineering boots are typically designed to be used with crampons. To achieve compatibility with crampons, welts are moulded into the toe and heel of the boot, providing a platform for the crampon to attach to. The stiffness of the boot enhances the precision of the crampon and allows a climber to pursue steeper and more difficult terrain.</p>

        <p>Another important aspect of mountaineering boots is warmth. To prevent frostbite in extreme cold conditions, synthetic insulation is incorporated into the boot. Lighter weight boots are classified as single boots. These single boots are insulated as a single unit with the insulation being permanently attached to the rest of the boot. Double boots, another classification, typically consist of a non-insulated leather or plastic outer shell with a removable insulated liner. The purpose of a double boot is long-term protection from cold weather. If the liner becomes wet, it can be removed from the shell and dried inside a sleeping bag. Since the insulation cannot be removed from single boots, they are not ideally suited for multi-day cold weather excursions.</p>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->

<div class="modal fade" id="infoCrampons" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">CRAMPONS</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/crampons.jpeg') }}">
        <p>A crampon is a traction device that is attached to footwear to improve mobility on snow and ice during ice climbing.Not only are crampons used during ice climbing, but they are also used for secure travel on snow and ice, such as crossing glaciers, snowfields and icefields, ascending snow slopes, and scaling ice-covered rock. There are three main attachment systems for footwear: step-in, hybrid, and strap bindings. The first two require boots with welts, as a tension lever attaches the crampon to the heel. The last type (strap bindings) are more versatile and can adapt to virtually any boot or shoe, but often do not fit as precisely as the other two types.</p>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->

<div class="modal fade" id="infoPiolet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">ICE AXE</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/piolet.jpeg') }}">
        <p>An ice axe is a multi-purpose hiking and climbing tool used by mountaineers both in the ascent and descent of routes that involve frozen conditions with snow and/or ice. An ice axe can be held and employed in a number of different ways, depending on the terrain encountered. In its simplest role, the ice axe is used like a walking stick in the uphill hand, the mountaineer holding the head in the center, with the pick pointing to the rear. It can also be buried pick down, the rope tied around the shaft to form a secure anchor on which to bring up a second climber, or buried vertically to form a stomp belay. The adze is used to cut footsteps (sometimes known as pigeon holes), as well as scoop seats in the hillside and trenches to bury an ice axe belay. The long-handled alpenstock was a predecessor to the modern ice axe. The ice axe bears similarity in design to a medieval war hammer.</p>
        <p>An ice axe is not only used as an aid to climbing, but also as a means of self-arrest in the event of a downhill slip.</p>
        <p>Most ice axes meet design and manufacturing standards of organizations such as the Union Internationale des Associations d'Alpinisme (UIAA) or European Committee for Standardization. There are two classifications of ice axe, Basic and Technical. Basic ice axes are designed for use in snow conditions for general mountaineering, and are adequate for basic support and self-arrest. Technical ice axes, which may have curved shafts, are strong enough to be used for steep or vertical ice climbing and belaying.</p>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->

<div class="modal fade" id="infoCasque" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">HELMET</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/casque.jpg') }}">
      <p>The climbing helmet is a piece of safety equipment that primarily protects the skull against falling debris (such as rocks or dropped pieces of protection) and impact forces during a fall. For example, if a lead climber allows the rope to wrap behind an ankle, a fall can flip the climber over and consequently impact the back of the head. Furthermore, any effects of pendulum from a fall that have not been compensated for by the belayer may also result in head injury to the climber. The risk of head injury to a falling climber can be further significantly mitigated by falling correctly.</p>

      <p>Climbers may decide whether to wear a helmet based on a number of factors such as the type of climb being attempted, concerns about weight, reductions in agility, added encumbrances, or simple vanity. Additionally, there is less incentive to wear a helmet in artificial climbing environments like indoor climbing walls (where routes and holds are regularly maintained) than on natural multi-pitch routes or ice climbing routes (where falling rocks and/or ice are likely).</p>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->

<div class="modal fade" id="infoHarness" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">HARNESS</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/harness.jpeg') }}">
      <p>A climbing harness is an item of climbing equipment for rock-climbing, abseiling, or other activities requiring the use of ropes to provide access or safety such as industrial rope access, working at heights, etc. A harness secures a person to a rope or an anchor point.</p>

      <p>In its simplest form, a harness can be made from a length of rope or a nylon webbing tied round the waist. More sophisticated harnesses exist in many patterns, designed to give greater comfort and security, and more options for carrying equipment.</p>

      <p>While harnesses can be improvised, it is more common to use commercially produced harnesses, which often include padding and amenities such as gear loops. Most commercial climbing harnesses meet the guidelines and manufacturing standards of organizations such as the Union Internationale des Associations d'Alpinisme (UIAA) or European Committee for Standardization.</p>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->

<div class="modal fade" id="infoGaiters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">GAITERS</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/gaiters.jpeg') }}">
      <p>Gaiters are garments worn over the shoe and lower pants leg, and used primarily as personal protective equipment; similar garments used primarily for display are spats. Originally, gaiters were made of leather. Today, gaiters for walking are commonly made of plasticized synthetic cloth such as polyester.</p>

       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->

<div class="modal fade" id="infoPoles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">HIKING POLES</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/poles.jpg') }}">
      <p>Trekking poles (also known as hiking poles, hiking sticks or walking poles) are a common hiking accessory used to assist walkers with their rhythm and provide stability on rough terrain.</p>
      <p>When in use, trekking poles resemble ski poles as they have many features in common, such as baskets at the bottom, rubber-padded handles and wrist straps. Their maximum length is usually 135 cm (54 inches), however, unlike ski poles, they are often made in two or three sections and can be extended and retracted as necessary for use and collapsed for storage or transport. When fully retracted it may be possible to attach them to a backpack. Some poles come with spring-loaded sections to aid walking under normal conditions and to reduce wrist strain, but such devices may only add unwanted weight and noise to the poles. They are usually made from lightweight aluminum or carbon fiber.</p>
      
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->

<div class="modal fade" id="infoPioletGlace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">TECHNICAL ICE AXES</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/techIce.jpg') }}">
      <p>If you are a waterfall or steep ice wall enthusiast, you need a technical ice tool. These axes have a very curved shaft for optimal swing, and immediate anchoring and removal. Picks are often removable to adapt to different ice conditions. Tools are used as a pair.</p>
      
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->

<div class="modal fade" id="infoBackpack" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">ALPINISM BACKPACK</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/backpack.jpg') }}">
      <p></p>
      
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->


<div class="modal fade" id="postUni" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title" id="exampleModalLabel">ALPINISM BACKPACK</h3>
       <h5 class="modal-title" id="subtitle">from Wikipedia, the free encyclopedia</h5>
       </div>
       <div class="modal-body">
       <img style="max-width:30%; margin: 10px 10px; float: left;" src="{{ url_for('static', filename='images/backpack.jpg') }}">
      <p></p>
      
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div><!-- Modal -->
