<div id="others" class="tab-pane fade in">
  <div class="container text-center">
      <h3 style="color: white"></h3><br>
      <div class="row">
        <div class="col-sm-6">

              <div class="[ form-group ]">
                <input type="checkbox" name="stroller" id="stroller" value="1" autocomplete="off"/>
                <div class="[ btn-group ]">
                    <label for="stroller" id="strollerLabel" class="btn btn-default btn-lg">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="stroller" id="strollerLabel" class="btn btn-default btn-lg active  ">
                        Baby Stroller
                    </label>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#infoStroller" aria-pressed="false">Info</button>
                    <label class="btn btn-default btn-lg" id="strollerPrice" style="display: none">
                    </label>
                </div>
              </div>
              <input type="hidden" value="0" name="stroller">

              <div class="[ form-group ]">
                <input type="checkbox" name="babyCarrier" id="babyCarrier" value="1" autocomplete="off"/>
                <div class="[ btn-group ]">
                    <label for="babyCarrier" id="babyCarrierLabel" class="btn btn-default btn-lg">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="stroller" id="babyCarrierLabel" class="btn btn-default btn-lg active  ">
                        Baby Carrier
                    </label>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#infoBabyCarrier" aria-pressed="false">Info</button>
                    <label class="btn btn-default btn-lg" id="babyCarrierPrice" style="display: none">
                    </label>
                </div>
              </div>
              <input type="hidden" value="0" name="babyCarrier">
        </div>
        <div class="col-sm-6">

            <div class="[ form-group ]">
                <input type="checkbox" name="shockAbsorber" id="shockAbsorber" value="1" autocomplete="off"/>
                <div class="[ btn-group ]">
                    <label for="shockAbsorber" id="shockAbsorberLabel" class="btn btn-default btn-lg">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="shockAbsorber" id="shockAbsorberLabel" class="btn btn-default btn-lg active  ">
                        Via Ferrata Shock Absorber
                    </label>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#infoShockAbsorber" aria-pressed="false">Info</button>
                    <label class="btn btn-default btn-lg" id="shockAbsorberPrice" style="display: none">
                    </label>
                </div>
              </div>
              <input type="hidden" value="0" name="shockAbsorber">


            <div class="[ form-group ]">
                <input type="checkbox" name="slackline" id="slackline" value="1" autocomplete="off"/>
                <div class="[ btn-group ]">
                    <label for="slackline" id="slackline" class="btn btn-default btn-lg">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="slackline" id="slackline" class="btn btn-default btn-lg active  ">
                        Slackline
                    </label>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#infoSlackline" aria-pressed="false">Info</button>
                    <label class="btn btn-default btn-lg" id="slacklinePrice" style="display: none">
                    </label>
                </div>
              </div>
              <input type="hidden" value="0" name="slackline">

        </div>
      </div>
  </div> <!-- Container Others -->
</div>