<div id="packs" class="tab-pane fade in">
    <div class="container">
    <div class="jumbotron">
    <p style="color: white">Reservation number #<b>{{resa_id}}</b> for <b>{{days}}</b> day(s) between <b>{{dates}}</b></p>
    <div class="row">
        <div class="col-sm-6">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#gfd"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="montBlancPack" id="mBlancPack" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Mont-Blanc Pack
                  </label>
                  <label style="color: white" id="mBlancPackPrice" style="display: none" disabled>
                  </label>
              </div>
              <span class="help-block" style="color: white">Includes Mountaineering Boots, Crampons, Ice Axe, Helmet and Harness</span>
              </div>
              <input type="hidden" value="0" name="montBlancPack">


              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#gfd"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="gaillandsPack" id="gaillandsPack" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Les Gaillands Pack
                  </label>
                  <label style="color: white" id="gaillandsPackPrice" style="display: none" disabled>
                  </label>
              </div>
              <span class="help-block" style="color: white">Includes Climbing shoes for kids, Harness and Helmet</span>
              </div>
              <input type="hidden" value="0" name="gaillandsPack">

              <div class="[ form-group ]">
               <div class="checkbox">
              <i class="fa fa-info fa-2x" style="color: white" data-toggle="modal" data-target="#gfd"></i>
                  <label style="font-size: 2em; color: white">
                      <input type="checkbox" name="viaFerrataPack" id="viaFerrataPack" value="1">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Les Evettes Pack
                  </label>
                  <label style="color: white" id="viaFerrataPackPrice" style="display: none" disabled>
                  </label>
              </div>
              <span class="help-block" style="color: white">Includes Shock absorber, Helmet and Harness</span>
              </div>
              <input type="hidden" value="0" name="viaFerrataPack">

        </div>
        <div class="col-sm-6">
        <div class="form-group has-warning has-feedback" id="shoeSizePack" style="display: none">
        <label for="alpinismShoeSize" style="color: white">Mountaineering Boots size </label><br>

              <select id="sizePack" name="alpinismShoeSize"  class="selectpicker show-tick" multiple data-max-options="1" title="Shoe size" data-width="auto">
                <optgroup label="Women's">
                  <option value="36" data-subtext="UK 3.5 US 5.5">EU 36</option>
                  <option value="36.5" data-subtext="UK 4 US 6">EU 36.5</option>
                  <option value="37" data-subtext="UK 4.5 US 6.5">EU 37</option>
                  <option value="37.5" data-subtext="UK 5 US 7">EU 37.5</option>
                  <option value="38" data-subtext="UK 5.5 US 7.5">EU 38</option>
                  <option value="38.5" data-subtext="UK 6 US 8">EU 38.5</option>
                  <option value="39" data-subtext="UK 6.5 US 8.5">EU 39</option>
                  <option value="39.5" data-subtext="UK 7 US 9">EU 39.5</option>
                  <option value="40" data-subtext="UK 7.5 US 9.5">EU 40</option>
                  <option value="40.5" data-subtext="UK 8 US 10.5">EU 40.5</option>
                </optgroup>
                <optgroup label="Men's">
                  <option value="41" data-subtext="UK 7.5 US 8">EU 41</option>
                  <option value="41.5" data-subtext="UK 8 US 8.5">EU 41.5</option>
                  <option value="42" data-subtext="UK 8.5 US 9">EU 42</option>
                  <option value="42.5" data-subtext="UK 9 US 9.5">EU 42.5</option>
                  <option value="43" data-subtext="UK 9.5 US 10">EU 43</option>
                  <option value="43.5" data-subtext="UK 10 US 10.5">EU 43.5</option>
                  <option value="44" data-subtext="UK 10.5 US 11">EU 44</option>
                  <option value="44.5" data-subtext="UK 11 US 11.5">EU 44.5</option>
                  <option value="45" data-subtext="UK 11.5 US 12">EU 45</option>
                  <option value="45.5" data-subtext="UK 12 US 12.5">EU 45.5</option>
                  <option value="46" data-subtext="UK 12.5 US 13">EU 46</option>
                  <option value="46.5" data-subtext="UK 13 US 13.5">EU 46.5</option>
                  <option value="47" data-subtext="UK 13.5 US 14">EU 47</option>
                  <option value="47.5" data-subtext="UK 14 US 14.5">EU 47.5</option>
                  <option value="48" data-subtext="UK 14.5 US 15">EU 48</option>
                  <option value="48.5" data-subtext="UK 15 US 15.5">EU 48.5</option>
                  <option value="49" data-subtext="UK 15.5 US 16">EU 49</option>
                  <option value="50" data-subtext="UK 16.5 US 17">EU 50</option>
                </optgroup>
              </select>

              <span   class="form-control-feedback" id="wSize"></span>
              <div class="alert alert-danger" id="infoSizePack" style="width: 60%; opacity: 0.8; margin-top: 5px">Please select your normal every-day shoe size</div>
            </div>

        </div>
      </div>
      </div>
      </div>
      </div>