  <div id="hiking" class="tab-pane fade in">
  <div class="container" style="background-color: #8FBC8B">
    <div class="row">
      <!--<div class="col-sm-12">
       <img style="max-width:100%; padding-top: 20px" src="{{ url_for('static', filename='images/hike.jpg') }}">
      </div>-->
    </div>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <h3>HIKING</h3>
              <label><input type="checkbox" id="hikingShoes">Hiking shoes</label> 
            
            <div class="form-group">
              <label for ="size">Size:</label> 
              <select id="size">
                <option value="36">EU 36 UK 3.5</option>
                <option value="36.5">EU 36.5 UK 4</option>
                <option value="37">EU 37 UK 4.5</option>
                <option value="37.5">EU 37.5 UK 4.5</option>
                <option value="38">EU 38 UK 5</option>
                <option value="38.5">EU 38.5 UK 5.5</option>
                <option value="39">EU 39 UK 6</option>
                <option value="39.5">EU 39.5 UK 6</option>
                <option value="40">EU 40 UK 6.5</option>
                <option value="40.5">EU 40.5 UK 7</option>
                <option value="41">EU 41 UK 7.5</option>
                <option value="41.5">EU 41.5 UK 8</option>
                <option value="42">EU 42 UK 8</option>
                <option value="42.5">EU 42.5 UK 8.5</option>
                <option value="43">EU 43 UK 9</option>
                <option value="43.5">EU 43.5 UK 9.5</option>
                <option value="44">EU 44 UK 9.5</option>
                <option value="44.5">EU 44.5 UK 10</option>
                <option value="45">EU 45 UK 10.5</option>
                <option value="45.5">EU 45.5 UK 10.5</option>
                <option value="46">EU 46 UK 11</option>
                <option value="46.5">EU 46.5 UK 11.5</option>
                <option value="47">EU 47 UK 11.5</option>
                <option value="47.5">EU 47.5 UK 12</option>
                <option value="48">EU 48 UK 12</option>
                <option value="48.5">EU 48</option>
                <option value="49">EU 49</option>
                <option value="50">EU 50</option>
              </select>
            </div>
            <div class="form-group">
              <label><input type="checkbox" value="Poles"> Poles</label>
            </div>
            <div class="form-group">
              <label><input type="checkbox" value="Crampons"> Crampons</label>
            </div>
            <div class="form-group">
              <label><input type="checkbox" value="Backpack"> Backpack</label>
            </div>
            <div class="form-group">
              <label><input type="checkbox" value="BabyCarrier"> Baby Carrier</label>
            </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div> <!-- Container Hiking -->
  </div>