<html>
<!--
- Subject: Sports Shop. Reservation # Confirmation
	
	Dear Mr. Fullname,

	 Thank you for your reservation with SPORTS SHOP.
	
	This is the confirmation email for your reservation.

	Reservation Summary:


	Additional Comments:


	See you soon!

	THE SPORTS SHOP STAFF



-->
    <head>

        <title>Hello Baby!</title>

    </head>

    <body>
    <p> {{resa.resa_id}} </p>
    <p> {{resauni[0].name}} </p>

        <table>

            <tr>

                <td>

                    <!-- Your code is inserted here -->

                </td>

            </tr>

        </table>

    </body>

</html>
