{% extends "layout.html" %}

{% block title %}
    Select Gear
{% endblock %}

{% block body %}

style= "background-color: #000000; background-image: url('../static/images/splash.jpg'); background-repeat: no-repeat; background-size: cover"

{% endblock %}

{% block main %}

<div class="container" style="width: 1700px">

<div class="jumbotron" style="width: 1700px">
	<h1 class="text-center" style="color: white"> Reservation Summary</h1>

	<div class="row">
	<a class="btn btn-lg btn-primary" href="{{ url_for('gear') }}"><i class="fa fa-plus fa-lg"></i> Add another person</a>
		<table class="table" style="color: white; font-size: 21px; margin-top: 20px">
	    	<thead>
	           		<th class="rotate"><div><span>User</span></div></th>
	        		<th class="rotate"><div><span>Total</span></div></th>
	        		<th class="rotate"><div><span>MB Pack</span></div></th>
	        		<th class="rotate"><div><span>LG Pack</span></div></th>
	        		<th class="rotate"><div><span>LE Pack</span></div></th>
	        		<th class="rotate"><div><span>Mountaineering Boots</span></div></th>
	        		<th class="rotate"><div><span>Size</span></div></th>
	        		<th class="rotate"><div><span>Crampons</span></div></th>
	        		<th class="rotate"><div><span>Ice-Axe</span></div></th>
	        		<th class="rotate"><div><span>Helmet</span></div></th>
	        		<th class="rotate"><div><span>Harness</span></div></th>
	        		<th class="rotate"><div><span>Gaiters</span></div></th>
	        		<th class="rotate"><div><span>Poles</span></div></th>
	        		<th class="rotate"><div><span>Tech. Ice-Axe</span></div></th>
	        		<th class="rotate"><div><span>Tech. Crampons</span></div></th>
	        		<th class="rotate"><div><span>Backpack</span></div></th>
	        		<th class="rotate"><div><span>Climbing Shoes</span></div></th>
	        		<th class="rotate"><div><span>Kid's Climbing Shoes</span></div></th>
	        		<th class="rotate"><div><span>Shock Absorber</span></div></th>
	        		<th class="rotate"><div><span>Crashpad</span></div></th>
	        		<th class="rotate"><div><span>Slackline</span></div></th>
	        		<th class="rotate"><div><span>Hiking Shoes</span></div></th>
	        		<th class="rotate"><div><span>Baby Stroller</span></div></th>
	        		<th class="rotate"><div><span>Baby Carrier</span></div></th>
	        </thead>
			<tbody>
	        <tr role="row">
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Name" src="{{ url_for('static', filename='images/icons/user.png') }}" alt="Name"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Total" src="{{ url_for('static', filename='images/icons/euro.png') }}" alt="Total"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Mont-Blanc Pack" src="{{ url_for('static', filename='images/icons/mountain.png') }}" alt="Mont-Blanc Pack"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Les Gaillands Pack" src="{{ url_for('static', filename='images/icons/climber.png') }}" alt="Les Gaillands Pack"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Les Evettes Pack" src="{{ url_for('static', filename='images/icons/via ferrata.png') }}" alt="Les Evettes Pack"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Mountaineering Boots" src="{{ url_for('static', filename='images/icons/boots.png') }}" alt="Mountaineering Boots"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Mountaineering Boots size" src="{{ url_for('static', filename='images/icons/size.png') }}" alt="Mountaineering Boots size"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Crampons" src="{{ url_for('static', filename='images/icons/crampons.png') }}" alt="Crampons"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Ice-Axe" src="{{ url_for('static', filename='images/icons/piolet.png') }}" alt="Piolet"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Helmet" src="{{ url_for('static', filename='images/icons/helmet.png') }}" alt="Helmet"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Harness" src="{{ url_for('static', filename='images/icons/harness.png') }}" alt="Harness"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Gaiters" src="{{ url_for('static', filename='images/icons/gaiters.png') }}" alt="Gaiters"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Poles" src="{{ url_for('static', filename='images/icons/poles.png') }}" alt="Poles"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Ice-Climbing Axes" src="{{ url_for('static', filename='images/icons/icePiolet.png') }}" alt="Ice Climbing Tools"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Ice-Climbing Crampons" src="{{ url_for('static', filename='images/icons/crampons.png') }}" alt="Ice Climbing Crampons"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Alpinism Backpack" src="{{ url_for('static', filename='images/icons/backpack.png') }}" alt="Backpack"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Climbing Shoes" src="{{ url_for('static', filename='images/icons/cShoes.png') }}" alt="Climbing Shoes"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Kid's Climbing Shoes" src="{{ url_for('static', filename='images/icons/cShoes.png') }}" alt="Kids Climbing Shoes"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Shock Absorber" src="{{ url_for('static', filename='images/icons/shock.png') }}" alt="Via Ferrata Shock Absorber"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Crashpad" src="{{ url_for('static', filename='images/icons/crashpad.jpg') }}" alt="Crashpad"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Slackline" src="{{ url_for('static', filename='images/icons/slackline.png') }}" alt="Slackline"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Hiking Shoes" src="{{ url_for('static', filename='images/icons/hikingshoes.png') }}" alt="Hiking Shoes"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Stroller" src="{{ url_for('static', filename='images/icons/stroller.png') }}" alt="Stroller"></th>
	            <th> <img class="historyIcon" data-toggle="tooltip" title="Baby Carrier" src="{{ url_for('static', filename='images/icons/babybag.png') }}" alt="Baby Carrier"></th>
	        </tr>
			        {% for r in data %}
			        <tr>
			            <td><b>{{r.name}}</b></td>
			            <td style="text-align: right"><b>{{r.price}}€</b></td>

			            {% if r.mbPack %}
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>
			                <td></td>
			                <td></td>
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>
			                <td style="background-color: rgba(34,155,101,0.5)">{{r.alpBootSize}}</td>
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>

			                {% if r.gaiters %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.poles %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.techIceAxes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.iceCrampon %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.backpack %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.climbingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.kidClimbingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.viaFerrataShock %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.crashpad %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.slackline %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.hikingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.babyCarrier %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.stroller %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}


			                


			            {% elif r.gaillandKit %}
			                <td></td>
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>
			                <td></td>

			                {% if r.alpBoots %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                <td>{{r.alpBootSize}}</td>
			                {% else %}
			                <td></td>
			                <td></td>
			                {% endif %}

			                {% if r.crampons %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.iceAxe %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>

			                {% if r.gaiters %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.poles %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.techIceAxes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.iceCrampon %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.backpack %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.climbingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>

			                {% if r.viaFerrataShock %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.crashpad %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.slackline %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.hikingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.babyCarrier %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.stroller %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}


			            {% elif r.viaFerrataKit %}
			                
			                <td></td>
			                <td></td>
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>

			                {% if r.alpBoots %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                <td>{{r.alpBootSize}}</td>
			                {% else %}
			                <td></td>
			                <td></td>
			                {% endif %}

			                {% if r.crampons %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.iceAxe %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></td>
			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></td>

			                {% if r.gaiters %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.poles %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.techIceAxes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.iceCrampon %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.backpack %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.climbingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                    
			                {% if r.kidClimbingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                <td style="background-color: rgba(34,155,101,0.5)"><i class="fa fa-check fa-lg"></i></td>

			                {% if r.crashpad %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td>--</td>
			                {% endif %}

			                {% if r.slackline %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.hikingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.babyCarrier %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.stroller %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}


			            
			            {% else %}

			                <td></td>
			                <td></td>
			                <td></td>

			                {% if r.alpBoots %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                <td>{{r.alpBootSize}}</td>
			                {% else %}
			                <td></td>
			                <td></td>
			                {% endif %}

			                {% if r.crampons %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.iceAxe %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.helmet %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.harness %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.gaiters %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.poles %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			                {% if r.techIceAxes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.iceCrampon %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.backpack %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.climbingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.kidClimbingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.viaFerrataShock %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.crashpad %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.slackline %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.hikingShoes %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.babyCarrier %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}

			                {% if r.stroller %}
			                <td><i class="fa fa-check fa-lg"></i></td>
			                {% else %}
			                <td></td>
			                {% endif %}
			                
			            
			            {% endif %}

			        </tr>
			        {% endfor %}
			    </tbody>
			    <tfoot>
			        <tr>
			        	<td><b>TOTAL</b></td>
			        	<td style="text-align: right"><b>{{total}}€</b></td>
			        </tr>
			    </tfoot>
		</table>
	</div>

	<div class="row">
		<a class="btn btn-success btn-lg" data-toggle="modal" data-target="#infoConfirm"><i class="fa fa-check fa-lg"></i> Finish Reservation </a>
	</div>

</div>

<div class="modal fade" id="infoConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<form method="POST">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			       <h2 class="modal-title" id="exampleModalLabel">ONE LAST THING!</h2>
			       </div>



			       <div class="modal-body">
				<ul>
			      <li> After this step your reservation will be active and finished but <b>not yet confirmed</b>. We will confirm it within <b>the next 24 hours by email and/or telephone.</b></li>
			      <li> If there are small changes to be made, we will handle them once you come to the shop. <b>If they are big (like adding more people or dates changing) we can keep in touch by email or telephone</b>.</li>
			      <li> The status of your reservation will also show on the history section of your account.</li>
			      <li> <b>Thank you for reserving with Sports Shop!</b></li>
				</ul>
			        <div class="form-group">
			          <label for="comment">Tell us a little bit more about what you plan to do, where you are going or any other special request so we can provide the best service:</label>
			          <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
			       </div>

			       <div class="form-group">
			        <label for="demo"> Please provide a contact telephone number:</label>
			        <input type="tel" id="demo" name="demo" placeholder="" onchange="countryCode()" required value={{telephone}}>
			       </div>
			        <input type="tel" id="telephone" name="telephone" placeholder="" value="{{telephone}}" style="display: none">
			       </div>

			       <div class="modal-footer">
			          <input type="submit" class="btn btn-success btn-lg" value="Finish reservation">
			       </div>
			    </div>
			  </div>
			</form>
</div><!-- Modal -->

{% endblock %}  
